<%= form_for(@team) do |f| %>
<%= render "shared/errors", object: @team %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

<div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => "50", :rows => "5", class: 'form-control' %>
</div>

<p>
<h3>Teams</h3>
  <% @team.teams_picked.each do |pick| %>
    <li><%= pick.name %> (<%= pick.total_points %> points)</li>
  <% end %>
</p>

<p>
<h3>Doomsday</h3>
Date selected: <%=  @team.doomsday %> <br>
Countdown: <%= countdown_format(@team.doomsday) %>
</p>

<p>
<h3>Quest</h3>
 Quest: <%= @quest.name %> - <%= quest_status %>
</p>
<p>
  <%= @quest.description %>
</p>

<p>

<h3>
Points: <%= @team.total_points %>
</h3>

Games suspended: <%= @team.suspension_games %>

</p>


  <fieldset>
        <h3>Pick for week <%= next_week %></h3>
        <div class="form-group">
        <% if has_wkpick(next_week) %>
        <ul>
          <li>
          <%= @team.wkpicks.find_by(week: next_week).nflteam.name %>
          </li>
        </ul>
        <% else %>
            <%= f.fields_for :wkpicks, @team.wkpicks.new do |wkpicks_form| %>
                <%= wkpicks_form.hidden_field :week, value: next_week %>
                <%= wkpicks_form.label :nflteam_id %>
                <%= wkpicks_form.select :nflteam_id, options_from_collection_for_select(@nflteams, :id, :name), {}, class: 'form-control' %>
            <% end %>
        <% end %>
      </div>
  </fieldset>
    <p>
      <%= f.submit "Update Team", class: "btn btn-default" %>
    </p>

<% end %>
