<div class="container">
<header>
  <h1>Editing <%= @team.name %></h1>
</header>

<%= render 'wkform' %>

<table class="table">
<thead>
<tr>
<th>Week</th>
<th>Team</th>
<th>Points</th>
</tr>
</thead>
<tbody>
<% 1.upto(next_week) do |number| %>
<tr>
  <td><%= number %></td>
  <td>
    <% if has_wkpick(number) %>
    <%= @team.wkpicks.find_by(week: number).nflteam.name %>
    <% else %>
    <%= "N/A" %>
    <% end %>
  </td>
  <td>
    <% if has_wkpick(number) %>
    <%= @team.wkpicks.find_by(week: number).weekly_points %>
    <% else %>
    <%= "0" %>
    <% end %>
  </td>

</tr>
<% end %>
</tbody>
</table>

</div>
