


<div class="container">

<h1>
League Standings
</h1>

Current Week: <%= current_week %>

<table class="table">
<thead>
  <tr>
    <th></th>
    <th>Team 1</th>
    <th>Team 2</th>
    <th>Team 3</th>
    <th>Points</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
<% @teams.each do |team| %>
    <% if team.teams_picked.size == 3 %>
      <tr>
      <td><%= link_to team.name, team %></td>
      <td>
        <%= link_to image_tag(team.teams_picked[0].image_file_name, height: '80', width: '80'), team.teams_picked[0], {'data-toggle' => "tooltip", :title => team.teams_picked[0].name.to_s} %>
      </td>
      <td>
        <%= link_to image_tag(team.teams_picked[1].image_file_name, height: '80', width: '80'), team.teams_picked[1], {'data-toggle' => "tooltip", :title => team.teams_picked[1].name.to_s} %>
      </td>
      <td>
        <%= link_to image_tag(team.teams_picked[2].image_file_name, height: '80', width: '80'), team.teams_picked[2], {'data-toggle' => "tooltip", :title => team.teams_picked[2].name.to_s} %>
      </td>
      <td> <%= team.total_points %></td>
      <td> <%= simple_format(team.description) %> </td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>
</div>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
