<h1>
 <%= @team.name %>
</h1>
<p>
 <%= @team.season %>
</p>

<p>
 Quest: <%= @quest.name %> - <%= quest_status %>
</p>
<p>
  <%= @quest.description %>
</p>

<p>
  <% @team.teams_picked.each do |pick| %>
    <li><%= pick.name %></li>
  <% end %>
</p>
