<h1> About </h1>
<p>
The brain child of Adam Ton and Yoni Gabbay, the Prison Football League started
as a way to use the proclivity of NFL players committing to create an alternate fantasy football league.
At the time, ProFootballTalk had a “days without an arrest” meter that inspired the founders to track the crimes committed
by players and reward points for their offenses. And while the
<%= link_to "meter is no more", "https://profootballtalk.nbcsports.com/2017/02/03/farewell-to-the-days-without-an-arrest-meter/" %>,
the league and the resources it uses have evolved.
</p>
<p>
Crimes are compiled from all across the web using the following sites to an accurate, up-to-the-minute picture of the offenses
committed by NFL players:
</p>
<ul>
<li> <%= link_to "Spotrac", "https://www.spotrac.com/nfl/fines-suspensions/" %> </li>
<li> <%= link_to "USA Today", "https://www.usatoday.com/sports/nfl/arrests/" %> </li>
<li> <%= link_to "NFLArrest", "http://nflarrest.com/recent-arrests-by-team.html" %> </li>
<li> <%= link_to "Arrest Nation", "http://arrestnation.com/category/pro-football/" %> </li>
<li> <%= link_to "Wikipedia", "https://en.wikipedia.org/wiki/List_of_suspensions_in_the_National_Football_League" %> </li>
<li> <%= link_to "NFL", "http://www.nfl.com/transactions" %> </li>
</ul>
