<%= form_for(@crime) do |f| %>
<%= render "shared/errors", object: @crime %>
  <fieldset>
    <div class="form-group">
        <%= f.label :nflteam_id %>
        <%= f.select :nflteam_id, options_from_collection_for_select(@nflteams, :id, :name, @crime.nflteam_id), { include_blank: true }, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :date_reported %>
        <%= f.date_field :date_reported, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :crime_date %>
        <%= f.date_field :crime_date, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :player %>
        <%= f.text_field :player, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :is_player %>
        <%= f.check_box :is_player, class: "form-check-label" %>
    </div>

    <div class="form-group">
        <%= f.label "Select the type of crime:" %>
        <%= f.collection_select :characteristic_ids, Characteristic.where(category: "type"), :id, :display_name, {}, { :multiple => true, :size => 5, class: "form-control" } %>
    </div>
    <div class="form-group">
        <%= f.label "Choose any details:" %>
        <%= f.collection_check_boxes :characteristic_ids, Characteristic.where(category: "accessory"), :id, :display_name, class: "form-check-label" %>
    </div>
    <div class="form-group">
        <%= f.label "Choose any additional details:" %>
        <%= f.collection_check_boxes :characteristic_ids, Characteristic.where(category: "additional"), :id, :display_name, class: "form-check-label" %>
    </div>
    <div class="form-group">
        <%= f.label "Choose any people involved:" %>
        <%= f.collection_check_boxes :characteristic_ids, Characteristic.where(category: "people"), :id, :display_name, class: "form-check-label" %>
    </div>
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :cols => "20", :rows => "3", class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :crime_type %>
        <%= f.text_field :crime_type, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :suspension %>
        <%= f.check_box :suspension, class: "form-check-label" %>
    </div>
        <% if @crime.suspension? %>
          <div id="suspension_details">
        <% else %>
          <div id="suspension_details" style="display:none;">
        <% end %>
            <div class="form-group">
              <%= f.label :suspension_date %>
              <%= f.date_field :suspension_date, include_blank: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :suspension_games %>
              <%= f.text_field :suspension_games, class: "form-control" %>
            </div>
          </div>
      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: "form-control" %>
      </div>
    <p>
      <% if @crime.new_record? %>
        <%= f.submit "Create Crime", class: "btn btn-default" %>
      <% else %>
        <%= f.submit "Update Crime", class: "btn btn-default" %>
      <% end %>
    </p>
  </fieldset>
<% end %>

<script type="text/javascript">
  var checkbox = document.getElementById('crime_suspension');
  var details_div = document.getElementById('suspension_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>
