<nav>
  <p>
    <% if current_user %>
      <%= link_to current_user.name, current_user %>
      <%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %>
    <% else %>
      <%= link_to 'Sign Up', signup_path %>
      <%= link_to 'Sign In', new_session_path %>
    <% end %>
  </p>
</nav>

<h3>
<%= link_to "Home", root_path %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<% if current_user %>
  <% if current_user.teams.first == nil %>
    <%= link_to 'My Team', new_team_path %>
  <% else %>
    <%= link_to 'My Team', edit_team_path(current_user.teams.first) %>
  <% end %>
<% else %>
    <%= link_to 'My Team', new_session_path %>
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to "Crimes", crimes_path %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "Power Rankings", nflteams_path %>
</h3>
